---
name: Lint and Validate Markdown Files

run-name: Linting and Validation Markdown Files on ${{ github.ref_name }}

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - develop
    paths:
      - "**/*.md"
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  MarkdownLint:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8  # v6.0.1
        with:
          persist-credentials: "false"

      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@992badcdf24e3b8eb7e87ff9287fe931bcb00c6e  # v20.0.0
        with:
          globs: '**/*.md'
          config: config/.markdownlint.yml
