---
name: Lint and Validate Markdown Files

run-name: Linting and Validation Markdown Files on ${{ github.ref_name }}

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - develop
    paths:
      - "**/*.md"
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  MarkdownLint:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8  # v5.0.0
        with:
          persist-credentials: "false"

      - name: Lint Markdown files
        uses: DavidAnson/markdownlint-cli2-action@30a0e04f1870d58f8d717450cc6134995f993c63  # v21.0.0
        with:
          globs: '**/*.md'
          config: config/.markdownlint.yml
