---
name: Yamllint

run-name: Yamllint on ${{ github.event_name }}

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - develop
    paths:
      - ".github/dependabot.yml"
      - ".github/workflows/*.yml"
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  Yamllint:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd  # v6.0.2
        with:
          persist-credentials: "false"

      - name: Running yamllint
        run: yamllint -c config/yamllint_config.yml .github/workflows/*.yml config/*.yml
