---
name: Yamllint

run-name: Yamllint on ${{ github.event_name }}

on:  # yamllint disable-line rule:truthy
  push:
    branches:
      - develop
    paths:
      - ".github/dependabot.yml"
      - ".github/workflows/*.yml"
  workflow_dispatch:

defaults:
  run:
    shell: bash

jobs:
  Yamllint:
    runs-on: ubuntu-24.04
    timeout-minutes: 10
    permissions:
      contents: read
    steps:
      - name: Checkout
        uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd  # v5.0.1
        with:
          persist-credentials: "false"

      - name: Running yamllint
        run: yamllint -c config/yamllint_config.yml .github/workflows/*.yml config/*.yml
